<div id="<%= dom_id external_income %>">
  <p>
    <strong>Date:</strong>
    <%= external_income.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= external_income.amount %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= external_income.source %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= external_income.description %>
  </p>

  <p>
    <strong>Delivery app:</strong>
    <%= external_income.delivery_app %>
  </p>

</div>
