<%= form_with(model: external_income) do |form| %>
  <% if external_income.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(external_income.errors.count, "error") %> prohibited this external_income from being saved:</h2>

      <ul>
        <% external_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.number_field :source %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :delivery_app, style: "display: block" %>
    <%= form.check_box :delivery_app %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
