<div id="<%= dom_id order %>">
  <p>
    <strong>Type:</strong>
    <%= order.order_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Delivery app:</strong>
    <%= order.delivery_app %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= order.table %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= order.store_id %>
  </p>

</div>
