<div class="content-wrapper">
  <div class="row">
		<div class="col-md-4" id="print-div">
      <img src="/custom-assets/images/akymbo-negro.png" style="max-width:250px;">
      <p style="text-align:center">CAFÉ DEL MUNDO</p>
      <h5>MONTE ALBÁN 506, NARVARTE,<br>BENITO JUÁREZ, CDMX</h5>
      <p>FECHA: <%= @order.created_at.in_time_zone("Mexico City").strftime("%d/%m/%y") %> - <%= @order.created_at.in_time_zone("Mexico City").strftime("%H:%M")%></p>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th width='8%'></th>
            <th width='72%'></th>
            <th width='20%'></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_products.each do |op| %>
          <tr>
            <td><%= op.quantity %></td>
            <td><%= op.product.name.upcase %></td>
            <td style="text-align: right;"><%= number_to_currency(op.product.price) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <h3 style="text-align:center">Total: <%= number_to_currency(@order.subtotal) %></h3>
      <div style="text-align:center;">
        <h5>
          ¡AKYMBO VA CONTIGO!<br>
          PIDE POR WHATSAPP: 56 3602 3607
        </h5>
      </div>
		</div>
	</div>
</div>
<!-- content-wrapper ends -->

<script>
  window.print();
</script>