<div id="<%= dom_id payment %>">
  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= payment.total %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= payment.discount %>
  </p>

  <p>
    <strong>Discount type:</strong>
    <%= payment.discount_type %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

</div>
