<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= item.stock %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= item.measurement_unit %>
  </p>

  <p>
    <strong>Stock warning:</strong>
    <%= item.stock_warning %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= item.store_id %>
  </p>

</div>
