<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= product.store_id %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= product.available %>
  </p>

  <p>
    <strong>Product code:</strong>
    <%= product.product_code %>
  </p>

</div>
