<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <!--begin::Title-->
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Reporte De Mes</h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
          <a href="#" class="text-muted text-hover-primary">Administración</a>
        </li>
        <!--end::Item-->
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Row-->
    <div class="row g-5 g-xl-10 mb-xl-10">
      <!--begin::Col-->
      <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 4-->
        <div class="card card-flush h-md-50 mb-5 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Currency-->
                <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
                <!--end::Currency-->
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@closes.sum(:real_total).to_i + @external_incomes.sum(:amount).to_i, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-danger fs-base">
                <i class="ki-duotone ki-arrow-up fs-5 text-danger ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.2%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Ingreso del mes</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body pt-2 pb-4 d-flex align-items-center">
            <!--begin::Chart-->
            <div class="d-flex flex-center me-5 pt-2">
              <div id="kt_card_widget_4_chart" style="min-width: 70px; min-height: 70px" data-kt-size="70" data-kt-line="11"></div>
            </div>
            <!--end::Chart-->
            <!--begin::Labels-->
            <div class="d-flex flex-column content-justify-center w-100">
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Tarjeta</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@closes.sum(:card_total).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Efectivo</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@closes.sum(:cash_total).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-secondary me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Transfer</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@closes.sum(:transfer_total).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-info me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Externos</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@external_incomes.sum(:amount).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
            </div>
            <!--end::Labels-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 4-->
        <!--begin::Card widget 7-->
        <div class="card card-flush h-md-50 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Currency-->
                <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
                <!--end::Currency-->
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@expenses.sum(:amount).to_i, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-success fs-base">
                <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.6%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Gastos del mes</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body pt-2 pb-4 d-flex align-items-center">
            <!--begin::Chart-->
            <div class="d-flex flex-center me-5 pt-2">
              <div id="kt_card_widget_4_chart" style="min-width: 70px; min-height: 70px" data-kt-size="70" data-kt-line="11"></div>
            </div>
            <!--end::Chart-->
            <!--begin::Labels-->
            <div class="d-flex flex-column content-justify-center w-100">
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Tarjeta</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@expenses.card.sum(:amount).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Efectivo</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@expenses.cash.sum(:amount).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
            </div>
            <!--end::Labels-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 7-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 5-->
        <div class="card card-flush h-md-50 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@payments, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-danger fs-base">
                <i class="ki-duotone ki-arrow-down fs-5 text-danger ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.2%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Ordenes este mes</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body d-flex align-items-end pt-0">
            <!--begin::Progress-->
            <div class="d-flex align-items-center flex-column mt-3 w-100">
              <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                <span class="fw-bolder fs-6 text-dark">Total de orden promedio</span>
                <span class="fw-bold fs-6 text-gray-400">$<%= number_with_delimiter(@closes.sum(:real_total).to_i / @payments, :delimiter => ',') %></span>
              </div>
            </div>
            <!--end::Progress-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 5-->
        <!--begin::Card widget 6-->
        <div class="card card-flush h-md-50 mb-5 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Currency-->
                <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
                <!--end::Currency-->
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@closes.sum(:real_total).to_i / @closes.size, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-success fs-base">
                <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.6%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Promedio de venta diario</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body d-flex align-items-end px-0 pb-0">
            <!--begin::Chart-->
            <div id="kt_card_widget_6_akymbo" class="w-100" style="height: 80px"></div>
            <!--end::Chart-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 6-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
        <!--begin::Chart widget 3-->
        <div class="card card-flush overflow-hidden h-md-100">
          <!--begin::Header-->
          <div class="card-header py-5">
            <!--begin::Title-->
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bold text-dark">Rentabilidad del mes</span>
              <span class="text-gray-400 mt-1 fw-semibold fs-6">Ingresos vs Gastos</span>
            </h3>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body d-flex justify-content-between flex-column pb-1 px-0">
            <!--begin::Statistics-->
            <div class="px-9 mb-5">
              <!--begin::Statistics-->
              <div class="d-flex mb-2">
                <span class="fs-4 fw-semibold text-gray-400 me-1">$</span>
                <span class="fs-2hx fw-bold text-gray-800 me-2 lh-1 ls-n2"><%= number_with_delimiter(@closes.sum(:real_total).to_i + @external_incomes.sum(:amount).to_i - @expenses.sum(:amount).to_i, :delimiter => ',') %></span>
              </div>
              <!--end::Statistics-->
            </div>
            <!--end::Statistics-->
            <!--begin::Chart-->
            <div id="kt_charts_widget_akymbo" class="min-h-auto ps-4 pe-6" style="height: 300px"></div>
            <!--end::Chart-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Chart widget 3-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->

    <!--begin::Row-->
    <div class="row g-5 g-xl-10 mb-xl-10">
      <div class="col-md-12">
        <!--begin::Navbar-->
        <div class="card mb-5 mb-xl-10">
          <div class="card-body pt-9 pb-4">
            <!--begin::Details-->
            <div class="d-flex flex-wrap flex-sm-nowrap">
              <!--begin::Info-->
              <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                  <!--begin::User-->
                  <div class="d-flex flex-column">
                    <!--begin::Name-->
                    <div class="d-flex align-items-center mb-2">
                      <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">Productos más vendidos</a>
                    </div>
                    <!--end::Name-->
                  </div>
                  <!--end::User-->
                </div>
                <!--end::Title-->
                <!--begin::Stats-->
                <div class="d-flex flex-wrap flex-stack">
                  <!--begin::Table-->
                  <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                    <thead>
                      <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                        <th class="">Ventas</th>
                        <th class="">Producto</th>
                        <th class="">Categoría</th>
                      </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                      <% @top_sales_products.each do |product, sales| %>
                      <tr>
                        <td><%= sales %></td>
                        <td>
                        <%= link_to product.name.capitalize, edit_product_path(product), class: "text-dark fw-bold text-hover-primary d-block mb-1 fs-6" %>
                        </td>
                        <td><%= product.category.name.capitalize %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <!--end::Table-->
                </div>
                <!--end::Stats-->
              </div>
              <!--end::Info-->
            </div>
            <!--end::Details-->
          </div>
        </div>
        <!--end::Navbar-->
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->

<% content_for :page_specific_javascript do %>
<script>
"use strict";

// Class definition
var KTChartsWidget3 = function () {
    var chart = {
        self: null,
        rendered: false
    };

    // Private methods
    var initChart = function(chart) {
        var element = document.getElementById("kt_charts_widget_akymbo");

        if (!element) {
            return;
        }
        
        var height = parseInt(KTUtil.css(element, 'height'));
        var labelColor = KTUtil.getCssVariableValue('--bs-gray-500');
        var borderColor = KTUtil.getCssVariableValue('--bs-border-dashed-color');
        var baseColor = KTUtil.getCssVariableValue('--bs-success');
        var lightColor = KTUtil.getCssVariableValue('--bs-success');

        var options = {
            series: [{
                name: 'Sales',
                data: <%= @closes.map { |c| c.real_total.to_i } %>
            }],            
            chart: {
                fontFamily: 'inherit',
                type: 'area',
                height: height,
                toolbar: {
                    show: false
                }
            },
            plotOptions: {

            },
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            },
            fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.4,
                    opacityTo: 0,
                    stops: [0, 80, 100]
                }
            },
            stroke: {
                curve: 'smooth',
                show: true,
                width: 3,
                colors: [baseColor]
            },
            xaxis: {
                categories: <%= raw @closes.map { |c| c.date.strftime("%d %b") } %>,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                tickAmount: 6,
                labels: {
                    rotate: 0,
                    rotateAlways: true,
                    style: {
                        colors: labelColor,
                        fontSize: '12px'
                    }
                },
                crosshairs: {
                    position: 'front',
                    stroke: {
                        color: baseColor,
                        width: 1,
                        dashArray: 3
                    }
                },
                tooltip: {
                    enabled: true,
                    formatter: undefined,
                    offsetY: 0,
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yaxis: {
                tickAmount: 4,
                max: <%= @closes.map { |c| c.real_total.to_i }.max %>,
                min: <%= @closes.map { |c| c.real_total.to_i }.min %>,
                labels: {
                    style: {
                        colors: labelColor,
                        fontSize: '12px'
                    },
                    formatter: function (val) {
                        return '$' + val
                    }
                }
            },
            states: {
                normal: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                hover: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                active: {
                    allowMultipleDataPointsSelection: false,
                    filter: {
                        type: 'none',
                        value: 0
                    }
                }
            },
            tooltip: {
                style: {
                    fontSize: '12px'
                },
                y: {
                    formatter: function (val) {
                        return "$" + val
                    }
                }
            },
            colors: [lightColor],
            grid: {
                borderColor: borderColor,
                strokeDashArray: 4,
                yaxis: {
                    lines: {
                        show: true
                    }
                }
            },
            markers: {
                strokeColor: baseColor,
                strokeWidth: 3
            }
        };

        chart.self = new ApexCharts(element, options);

        // Set timeout to properly get the parent elements width
        setTimeout(function() {
            chart.self.render();
            chart.rendered = true;
        }, 200);  
    }

    // Public methods
    return {
        init: function () {
            initChart(chart);

            // Update chart on theme mode change
            KTThemeMode.on("kt.thememode.change", function() {                
                if (chart.rendered) {
                    chart.self.destroy();
                }

                initChart(chart);
            });
        }   
    }
}();

// Webpack support
if (typeof module !== 'undefined') {
    module.exports = KTChartsWidget3;
}

// On document ready
KTUtil.onDOMContentLoaded(function() {
    KTChartsWidget3.init();
});

// Class definition
var KTCardsWidget6 = function () {
    // Private methods
    var initChart = function() {
        var element = document.getElementById("kt_card_widget_6_akymbo");

        if (!element) {
            return;
        }

        var height = parseInt(KTUtil.css(element, 'height'));
        var labelColor = KTUtil.getCssVariableValue('--bs-gray-500');
        var borderColor = KTUtil.getCssVariableValue('--bs-border-dashed-color');
        var baseColor = KTUtil.getCssVariableValue('--bs-primary');
        var secondaryColor = KTUtil.getCssVariableValue('--bs-gray-300');

        var options = {
            series: [{
                name: 'Venta',
                data: <%= @closes.map { |c| c.real_total.to_i }.last(7) %>
            }, ],
            chart: {
                fontFamily: 'inherit',
                type: 'bar',
                height: height,
                toolbar: {
                    show: false
                },
                sparkline: {
                    enabled: true
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: ['55%'],
                    borderRadius: 6
                }
            },
            legend: {
                show: false,
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 9,
                colors: ['transparent']
            },
            xaxis: {                
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                    tickPlacement: 'between'
                },
                labels: {
                    show: false,
                    style: {
                        colors: labelColor,
                        fontSize: '12px'
                    }
                },
                crosshairs: {
                    show: false
                }
            },
            yaxis: {
                labels: {
                    show: false,
                    style: {
                        colors: labelColor,
                        fontSize: '12px'
                    }
                }
            },
            fill: {
                type: 'solid'
            },
            states: {
                normal: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                hover: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                active: {
                    allowMultipleDataPointsSelection: false,
                    filter: {
                        type: 'none',
                        value: 0
                    }
                }
            },
            tooltip: {
                style: {
                    fontSize: '12px'
                },
                y: {
                    formatter: function (val) {
                        return "$" + val
                    }
                }
            },
            colors: [baseColor, secondaryColor],
            grid: {
                padding: {
                    left: 10,
                    right: 10
                },
                borderColor: borderColor,
                strokeDashArray: 4,
                yaxis: {
                    lines: {
                        show: true
                    }
                }             
            }
        }; 

        var chart = new ApexCharts(element, options);
        
        // Set timeout to properly get the parent elements width
        setTimeout(function() {
            chart.render();   
        }, 300);     
    }

    // Public methods
    return {
        init: function () {
            initChart();
        }   
    }
}();

// Webpack support
if (typeof module !== 'undefined') {
    module.exports = KTCardsWidget6;
}

// On document ready
KTUtil.onDOMContentLoaded(function() {
    KTCardsWidget6.init();
});

</script>
<% end %>