<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <!--begin::Title-->
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Reporte De Mes</h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
          <a href="#" class="text-muted text-hover-primary">Administración</a>
        </li>
        <!--end::Item-->
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Row-->
    <div class="row g-5 g-xl-10 mb-xl-10">
      <!--begin::Col-->
      <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 4-->
        <div class="card card-flush h-md-50 mb-5 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Currency-->
                <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
                <!--end::Currency-->
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@closes.sum(:real_total).to_i + @external_incomes.sum(:amount).to_i, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-danger fs-base">
                <i class="ki-duotone ki-arrow-up fs-5 text-danger ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.2%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Ingreso del mes</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body pt-2 pb-4 d-flex align-items-center">
            <!--begin::Chart-->
            <div class="d-flex flex-center me-5 pt-2">
              <div id="kt_card_widget_4_chart" style="min-width: 70px; min-height: 70px" data-kt-size="70" data-kt-line="11"></div>
            </div>
            <!--end::Chart-->
            <!--begin::Labels-->
            <div class="d-flex flex-column content-justify-center w-100">
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Tarjeta</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@closes.sum(:card_total).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Efectivo</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@closes.sum(:cash_total).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #E4E6EF"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Transfer</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@closes.sum(:transfer_total).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #E4E6EF"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Externos</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@external_incomes.sum(:amount).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
            </div>
            <!--end::Labels-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 4-->
        <!--begin::Card widget 7-->
        <div class="card card-flush h-md-50 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Currency-->
                <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
                <!--end::Currency-->
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@expenses.sum(:amount).to_i, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-success fs-base">
                <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.6%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Gastos del mes</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body pt-2 pb-4 d-flex align-items-center">
            <!--begin::Chart-->
            <div class="d-flex flex-center me-5 pt-2">
              <div id="kt_card_widget_4_chart" style="min-width: 70px; min-height: 70px" data-kt-size="70" data-kt-line="11"></div>
            </div>
            <!--end::Chart-->
            <!--begin::Labels-->
            <div class="d-flex flex-column content-justify-center w-100">
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Tarjeta</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@expenses.card.sum(:amount).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
              <!--begin::Label-->
              <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                <!--begin::Bullet-->
                <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                <!--end::Bullet-->
                <!--begin::Label-->
                <div class="text-gray-500 flex-grow-1 me-4">Efectivo</div>
                <!--end::Label-->
                <!--begin::Stats-->
                <div class="fw-bolder text-gray-700 text-xxl-end">$<%= number_with_delimiter(@expenses.cash.sum(:amount).to_i, :delimiter => ',') %></div>
                <!--end::Stats-->
              </div>
              <!--end::Label-->
            </div>
            <!--end::Labels-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 7-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <!--begin::Card widget 5-->
        <div class="card card-flush h-md-50 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@payments, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-danger fs-base">
                <i class="ki-duotone ki-arrow-down fs-5 text-danger ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.2%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Ordenes este mes</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body d-flex align-items-end pt-0">
            <!--begin::Progress-->
            <div class="d-flex align-items-center flex-column mt-3 w-100">
              <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                <span class="fw-bolder fs-6 text-dark">Total de orden promedio</span>
                <span class="fw-bold fs-6 text-gray-400">$<%= number_with_delimiter(@closes.sum(:real_total).to_i / @payments, :delimiter => ',') %></span>
              </div>
              <div class="h-8px mx-3 w-100 bg-light-success rounded">
                <div class="bg-success rounded h-8px" role="progressbar" style="width: 62%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!--end::Progress-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 5-->
        <!--begin::Card widget 6-->
        <div class="card card-flush h-md-50 mb-5 mb-xl-10">
          <!--begin::Header-->
          <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
              <!--begin::Info-->
              <div class="d-flex align-items-center">
                <!--begin::Currency-->
                <span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">$</span>
                <!--end::Currency-->
                <!--begin::Amount-->
                <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2"><%= number_with_delimiter(@closes.sum(:real_total).to_i / @closes.size, :delimiter => ',') %></span>
                <!--end::Amount-->
                <!--begin::Badge
                <span class="badge badge-light-success fs-base">
                <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>2.6%</span>
                end::Badge-->
              </div>
              <!--end::Info-->
              <!--begin::Subtitle-->
              <span class="text-gray-400 pt-1 fw-semibold fs-6">Promedio de venta diario</span>
              <!--end::Subtitle-->
            </div>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body d-flex align-items-end px-0 pb-0">
            <!--begin::Chart-->
            <div id="kt_card_widget_6_chart" class="w-100" style="height: 80px"></div>
            <!--end::Chart-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Card widget 6-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
        <!--begin::Chart widget 3-->
        <div class="card card-flush overflow-hidden h-md-100">
          <!--begin::Header-->
          <div class="card-header py-5">
            <!--begin::Title-->
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bold text-dark">Rentabilidad del mes</span>
              <span class="text-gray-400 mt-1 fw-semibold fs-6">Ingresos vs Gastos</span>
            </h3>
            <!--end::Title-->
          </div>
          <!--end::Header-->
          <!--begin::Card body-->
          <div class="card-body d-flex justify-content-between flex-column pb-1 px-0">
            <!--begin::Statistics-->
            <div class="px-9 mb-5">
              <!--begin::Statistics-->
              <div class="d-flex mb-2">
                <span class="fs-4 fw-semibold text-gray-400 me-1">$</span>
                <span class="fs-2hx fw-bold text-gray-800 me-2 lh-1 ls-n2"><%= number_with_delimiter(@closes.sum(:real_total).to_i - @expenses.sum(:amount).to_i, :delimiter => ',') %></span>
              </div>
              <!--end::Statistics-->
            </div>
            <!--end::Statistics-->
            <!--begin::Chart-->
            <div id="kt_charts_widget_3" class="min-h-auto ps-4 pe-6" style="height: 300px"></div>
            <!--end::Chart-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Chart widget 3-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
